.bagde{
   
    background-color: #333333;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.subrow{
    width: 100%;
    background-color: #4A4A4A;
}
